{% extends 'lolcompare/base.html' %}

{% block head %}{% endblock %}

{% block body %}
<nav class="navbar navbar-static-top navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOL<span>FRIEND</span>.ME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="active" href="#">GENERAL</a></li>
        <li><a href="#">GAME</a></li>
        <li><a href="#">TEAM</a></li>
    	</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section id="filters">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<h1>SUMMONER 1</h1>
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal">
						  <div class="form-group">
						    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
						    <div class="input-group">
						      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
						      <div class="input-group-addon"><i class="fa fa-search"></i></div>
						    </div>
						   </div>
						   <div class="form-group">
								<div class="input-group">
						      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
						      <div class="input-group-addon"><i class="fa fa-arrow-circle-o-down fa-lg"></i></div>
						    </div>
						  </div>
						   <div class="form-group">
								<div class="input-group">
						      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
						      <div class="input-group-addon"><i class="fa fa-arrow-circle-o-down fa-lg"></i></div>
						    </div>
						  </div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div>
					<div id="vs-circle">VS</div>	
				</div>
				<h2>CHAMPION</h2>
				<h2>SEASON</h2>
			</div>
			<div class="col-sm-4 text-center">
				<h1>SUMMONER 2</h1>
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal">
						  <div class="form-group">
						    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
						    <div class="input-group">
						      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
						      <div class="input-group-addon"><i class="fa fa-search"></i></div>
						    </div>
						   </div>
						   <div class="form-group">
								<div class="input-group">
						      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
						      <div class="input-group-addon"><i class="fa fa-arrow-circle-o-down fa-lg"></i></div>
						    </div>
						  </div>
						   <div class="form-group">
								<div class="input-group">
						      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
						      <div class="input-group-addon"><i class="fa fa-arrow-circle-o-down fa-lg"></i></div>
						    </div>
						  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="statistics">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-4">
				<div class="stat-col">
					<h2>CHIQUITANA</h2>
					<article class="stat-row">
						<div class="games-played">
							<p>435(12.40%)</p>
						</div>
					</article>
					<article class="stat-row">
						<div class="most-played">
							<p>435(12.40%)</p>
						</div>
					</article>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="stat-label-col">
					<h2>GENERAL</h2>
					<article class="stat-label-row">
						<div class="games-played">
							<h3>Games Played</h3>
							<i class="fa fa-gamepad fa-5x"></i>
						</div>
					</article>
					<article class="stat-label-row">
						<div class="most-played">
							<h3>Most Played Champions</h3>
							<span class="fa-stack fa-3x">
							  <i class="fa fa-square-o fa-stack-2x"></i>
							  <i class="fa fa-users fa-stack-1x"></i>
							</span>
						</div>
					</article>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="stat-col">
					<h2>CHIQUITANA</h2>
					<article class="stat-row">
						<div class="games-played">
							<p>435(12.40%)</p>
						</div>
					</article>
					<article class="stat-row">
						<div class="most-played">
							<p>435(12.40%)</p>
						</div>
					</article>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block js %}{% endblock %}